<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email to notify an event creation</title>
</head>
<body>
    <p>Hi {{ recipient_name }},</p>
    <p style="text-align: justify">
        I just wanted to say thanks for your recent order. It is greatly appreciated. As a
        small token of my appreciation I am sending you this charitable donation which you
        can allocate to your charity of choice.
    </p>
    <p>{{ username }}</p>
    <p style="font-weight: bold">How ConnectGood Works:</p>
    <ol style="padding: 10px">
        <li>First decide whether you can and want to accept this ConnectGood event</li>
        <li>Login to the to the ConnectGood portal
            <a href={{ url }}>here</a>
        </li>
        <li>Once you login you will also be able to select how to allocate the charitable donation that has been sent to you</li>
    </ol>
</body>
</html>
